#receiptModal .modal-content{
    width : 850px;
}
#printContent .address{
    font-size : medium;
}
#printContent table{
    width : 90%;

}
#printContent table, th, td, tbody, thead, tr{
    border : 0 !important;
    padding : 3px 0px !important;
}

#printContent table.table-bordered, th, td, tbody, thead, tr{
    border : 0 !important;
     padding : 3px  0px !important;
}
#printContent table.table-bordered, th, td, tbody, thead, tr{
    border : 0 !important;
     padding : 3px  0px !important;
}
#printContent table tr.borderTopBottom{
    border: 1px solid #ddd !important;border-left: 0px !important;border-right: 0px !important;
}
#printContent table tr.borderTop{
    border-top: 1px solid #ddd !important;
}
@media print {
    .printReceiptPage table, th, td, tbody, thead, tr{
        border : 0 !important;
        padding : 3px 0px !important;
    }

     table.table-bordered, th, td, tbody, thead, tr{
        border : 0 !important;
         padding : 3px  0px !important;
    }
     table tr.borderTopBottom{
    border: 1px solid #ddd !important;border-left: 0px !important;border-right: 0px !important;
    }
    table tr.borderTop{
        border-top: 1px solid #ddd !important;
    }
}